/* Breakpoint
------------------------------------- */
/* Mobile First */
/* Desktop First */
/* Text Style
------------------------------------- */
/* Font Family */
/* Font Size for Paragraph (Area Text) */
/* Font Size for Title and Word (Point Text) */
/* Font Weight */
/* Line Height */
/* Color Palette
------------------------------------- */
/* Spacing
------------------------------------- */
.p_footer-top {
  background-color: #61B2D7;
  padding: 12px 0 10px;
  position: relative;
  text-align: center;
}

/*----------------------------------------------
	Footer Menu
---------------------------------------------*/
.p_footer__menu {
  padding-bottom: 23px;
}

.p_footer__menu ul {
  display: flex;
  justify-content: center;
}

.p_footer__menu ul li {
  position: relative;
}
.p_footer__menu ul li:after {
  background-color: #F0FAFF;
  content: "";
  height: 16px;
  position: absolute;
  right: 0;
  top: 9px;
  width: 1px;
}
.p_footer__menu ul li:last-child:after {
  background-color: transparent;
}

.p_footer__menu ul li a {
  color: #F0FAFF;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding: 0 27px;
  transition: all 0.2s;
}
.p_footer__menu ul li a:hover {
  opacity: 0.6;
  text-decoration: none;
}

/*----------------------------------------------
	Footer Logo
---------------------------------------------*/
.p_footer__logo {
  display: block;
  line-height: 0;
  padding-bottom: 7px;
}

.p_footer__logo img {
  max-width: 100%;
}

.p_footer__logo a {
  display: inline-block;
}

/*----------------------------------------------
	Copyright
---------------------------------------------*/
.copyright {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 767px) {
  .p_footer-top {
    padding-bottom: 70px;
  }

  .p_footer__menu {
    font-size: 14px;
  }
  .p_footer__menu ul {
    flex-wrap: wrap;
  }
  .p_footer__menu ul li a {
    padding: 0 10px;
  }

  .copyright {
    font-size: 10px;
  }
}
/*# sourceMappingURL=common_footer.css.map */