@charset "utf-8";

@import "foundation/variables";

.p_footer-top {
  background-color: $color-main;
  padding: 12px 0 10px;
	position: relative;
	text-align: center;
}

/*----------------------------------------------
	Footer Menu
---------------------------------------------*/

.p_footer__menu { padding-bottom: 23px; }
.p_footer__menu ul {
	display: flex;
	justify-content: center;
}
.p_footer__menu ul li {
	position: relative;
	&:after {
		background-color: $color-light;
		content: '';
		height: 16px;
		position: absolute;
		right: 0;
		top: 9px;
		width: 1px;
	}
	&:last-child:after { background-color: transparent; }
}
.p_footer__menu ul li a {
	color: $color-light;
	font-weight: 500;
	letter-spacing: 0.1em;
	padding: 0 27px;
	transition: all .2s;
	&:hover {
		opacity: 0.6;
		text-decoration: none;
	}
}

/*----------------------------------------------
	Footer Logo
---------------------------------------------*/

.p_footer__logo {
	display: block;
	line-height: 0;
	padding-bottom: 7px;
}
.p_footer__logo img { max-width: 100%; }
.p_footer__logo a {	display: inline-block; }

/*----------------------------------------------
	Copyright
---------------------------------------------*/

.copyright {
	font-size: $fs-area-xs;
	font-weight: 500;
	letter-spacing: 0.1em;
}

@media screen and (max-width: $sm) {
	.p_footer-top {
		padding-bottom: 70px;
	}
	.p_footer__menu {
		font-size: $fs-area-s;
		ul {
			flex-wrap: wrap;
			li {
				a {
					padding: 0 10px;	
				}
			}
		}
	}
	.copyright {
		font-size: $fs-area-xxs;
	}
}
