/*----------------------------------------------
	.c_content
---------------------------------------------*/
.c_content {
  margin-top: 100px;
}
.c_content__inner {
  margin-bottom: 100px;
  &:last-child {
    margin-bottom: 0;
  }
}

.c_content__row {
  margin-top: 50px;
  display: block;
  
  &.is_left {
    overflow: hidden;
    img {
      float: left;
      margin-right: 25px;
    }
  }
  &.is_right {
    overflow: hidden;
    img {
      float: right;
      margin-right: 0;
      margin-left: 25px;
    }
  }
  img.is_right2 {
    float: right;
    margin-right: 0;
    margin-left: 80px;
  }
}
.c_content__ttl {
  font-size: $fs-area-l;
  font-weight: $fw-serif-sembold;
  line-height: $line-height-point-xxl;
  margin-bottom: 20px;
  letter-spacing: $space-xxxs;
}