/*----------------------------------------------
	.c_ttl
---------------------------------------------*/

.c_ttl {
  font-size: $fs-point-xl-desktop;
  font-family: $serif;
  font-weight: $fw-serif-medium;
  line-height: $line-height-point-xl;
  color: $color-text-primary;
  letter-spacing: $space-xxxs;
  display: block;
  position: relative;
  text-align: left;
  margin-bottom: 30px;
  span {
    font-size: $fs-area-s;
    color: $color-main;
    display: block;
    margin-bottom: 20px;
    line-height: $line-height-point;
  }
}
.c_ttl.is_large {
  font-size: $fs-point-xxl-desktop;
  line-height: $line-height-point-xxl;
}
.c_ttl.is_center {
  text-align: center;
  div {
    font-size: 28px;
    position: relative;
    &:after {
      background-color: #63B1D5;
      bottom: -30px;
      content: '';
      height: 1px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      width: 140px;
    }
    span { margin-bottom: 5px; }
  }
}
.c_ttl.is_secondary {
  text-align: left;
  span {
    &:before {
      content: '';
      background: $color-main;
      width: 28px;
      height: 1px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: $sm) {
  
}

/*----------------------------------------------
	.c_ttl-b
---------------------------------------------*/

.c_ttl-b {  
  font-size: $fs-point-l-desktop;
  font-family: $serif;
  line-height: $line-height-point-xl;
  font-weight: $fw-serif-medium;
  color: $color-text-primary;
  letter-spacing: $space-xxxs;
  display: block;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 70px;
  &::after {
    content: '';
    position: absolute;
    width: 140px;
    height: 1px;
    background: $color-main;
    bottom: 0;
    left: calc(50% - 70px);
  }
}

/*----------------------------------------------
	.c_ttl-c
---------------------------------------------*/

.c_ttl-c {  
  font-size: $fs-point-m-desktop;
  font-family: $serif;
  line-height: $line-height-point-xl;
  font-weight: $fw-serif-medium;
  color: $color-text-primary;
  letter-spacing: $space-xxxs;
  display: block;
  position: relative;  
  border-bottom: 1px solid $color-gray;
  margin-bottom: 40px;
  span {
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: $color-main;
      bottom: -1px;
      left: 0;
    }
  }
}

@media screen and (max-width: $sm) {
  
}
