/*----------------------------------------------
	.p_access
---------------------------------------------*/

.p_access__upper {
  background: url('../../img/p_access__upper-img.jpg') no-repeat top center / cover;
  margin: 0 auto;
  max-width: 100%;
  padding: 85px 0 75px;
  text-align: right;
  width: 1280px;
}
.p_access__info {
  width: 300px;
  display: inline-block;
  text-align: left;
}
.p_access__ttl {
  span { margin-bottom: 0; }
}