/*----------------------------------------------
	.p_contact
---------------------------------------------*/

.p_contact {
  &__txt {
    padding: 45px 0 40px;
    text-align: center;
  }
  &__menus {
    display: flex;
    justify-content: space-around;
    li {
      width: 410px;
      a {
        background-color: $color-main;
        border: none;
        color: $color-white;
        width: 100%;
        img {
          left: 20px;
          margin-top: -10px;
          position: absolute;
          top: 50%;
        }
        &:after { background: #F7FBFD; }
      }
      &:last-child a img {
        margin-top: -7px;
      }
    }
  }
  &__info { padding-top: 65px; }
  &__ttl {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 25px;
    text-align: center;
  }
  &__inquiries {
    display: flex;
    justify-content: space-between;
  }
  &__name {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    span {
      color: $color-main;
      font-size: 12px;
    }
  }
  &__tel {
    color: $color-main;
    font-size: 26px;
    font-weight: 700;
    span {
      padding-left: 27px;
      position: relative;
      img {
        left: 0;
        position: absolute;
        top: 9px;
        width: 22px;
      }
    }
  }
  &__time { font-size: 14px; }
}