/*----------------------------------------------
	.p_faq
---------------------------------------------*/

.p_faq {
	padding-top: 60px;
	text-align: left;
	ul {
		li {
			padding-bottom: 40px;
			&:last-child { padding-bottom: 0; }
		}
	}
	&__quest {
		border-bottom: 1px solid $color-gray;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 20px;
		padding: 0 0 20px 50px;
		position: relative;
	}
	&__ans {
		padding: 0 0 20px 50px;
		position: relative;
	}
	&__quest span,
	&__ans span {
		color: $color-main;
		font-size: 30px;
		font-weight: 500;
		left: 0;
		line-height: normal;
		position: absolute;
		top: -4px;
	}
}