/*----------------------------------------------
	.p_menu
---------------------------------------------*/

.p_menu__list {
  display: flex;
  li {
    flex: 1;
    text-align: center;
    font-size: $fs-point-s-desktop;
    padding: 0 10px;
    a {
      display: block;
      font-weight: $fw-serif-medium;
      color: $color-text-primary;
      border-bottom: 1px solid $color-gray;
      position: relative;
      padding: 5px 0;
      text-decoration: none;
      &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 15px;
        background: $color-text-primary;
        bottom: -8px;
        left: 50%;
        transition: all 0.3s;
      }
      &:hover,
      &.current:hover {
        &::after {
          height: 20px;
          bottom: -15px;
        }
      }
    }
  }
}
.p_menu__box {
  margin: 100px 0 0;
  padding: 40px;
  border: 1px solid $color-gray;
  .p_menu__box__ttl {
    text-align: center;
    font-size: $fs-point-xl;
    font-weight: $fw-serif-medium;
    margin-bottom: 30px;
    letter-spacing: $space-xxxs;
  }
  .p_menu__box__list {
    text-align: center;
    ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      // column-gap: 100px;
      display: inline-block;
      text-align: left;
      margin: 0;
      padding: 0;
      clear: both;
      overflow: hidden;
      li {
        padding-left: 30px;
        position: relative;
        margin: 0 50px 5px;
        &::before {
          content: '';
          position: absolute;
          top: 10px;
          left: 0;
          width: 12px;
          height: 6px;
          border-left: 1px solid $color-main;
          border-bottom: 1px solid $color-main;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
