/*----------------------------------------------
	.p_news
---------------------------------------------*/

.p_news {
  display: flex;
  justify-content: space-between;
}
.p_news__info { width: 230px; }
.p_news__ttl {
  span { margin-bottom: 0; }
}
.p_news__txt { padding-bottom: 115px; }
.p_news__social {
  display: flex;
  justify-content: flex-start;
}
.p_news__social li {
  padding-right: 17px;
  &:last-child { padding-right: 0; }
}
.p_news__social li a { display: block; }
.p_news__list { width: 660px; }
.p_news__list ul li {
  cursor: pointer;
  padding: 20px 0;
  border-bottom: 1px solid $color-gray;
  position: relative;
  transition: all .2s;
  &:first-child { border-top: 1px solid $color-gray; }
  &:hover {
    text-decoration: none;
    opacity: 0.6;
  }
  &:after {
    position: absolute;
    content: '';
    width: 27px;
    height: 1px;
    background: $color-text-primary;
    right: 25px;
    top: 50%;
    transition: all 0.3s;
  }
  &:hover:after {     
    right: 10px;
	}
  &.is_non:hover {
    cursor: unset;
    opacity: 1;
  }
}
.p_news__list ul li a {
  color: $color-text-primary;
  display: inline-block;
  text-align: left;
  &:hover {
    text-decoration: none;
  }
}
.p_news__date {
  color: $color-main;
  display: inline-block;
  min-width: 110px;
}