/*----------------------------------------------
	.p_point
---------------------------------------------*/

.p_point {
  margin: 0 auto;
  max-width: 740px;
  background: rgba($color-white, 0.9);
  padding: 72px 50px 55px;
  .p_point__ttl {
    font-size: $fs-point-l-mobile;
    span {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 100px;
        background: url(../../img/icon-point.svg) no-repeat center;
        background-size: 100%;
        top: -110px;
        left: calc(50% - 30px);
      }
    }
  }
}