/*----------------------------------------------
	.p_recruit
---------------------------------------------*/

.p_recruit__ttl {
  margin-bottom: 25px;
  div { display: inline-block; text-align: center; }
  span { margin-bottom: 0; }
}
.p_recruit__item { position: relative; }
.p_recruit__wrapper {
  margin: 0 auto;
	max-width: 100%;
  position: relative;
  text-align: right;
  width: 960px;
}
.p_recruit__content {
  display: inline-block;
  padding: 60px 0 70px 70px;
  text-align: left;
	width: 50%;
}
.p_recruit__txt { padding-bottom: 130px; }
.p_recruit--media {
  background-color: #fafbfc;
  width: calc((100% / 2));
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  text-align: right;
  img {
    height: 100%;
    object-fit: cover;
  }
}