/*----------------------------------------------
	.c_banner
---------------------------------------------*/

.c_banner {
  li {
    img {
      width: 100%;
    }
    img.sp-only { display: none; }
  }
  &__txt {
    padding: 20px;
  }
  &__detail {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 140px 0 40px;
    z-index: 2;
    
  }
  &.is_shadow::before {
    position: absolute;
    top: 0;
    left: -5px;
    z-index: 1;
    content:'';
    width: 30%;
    height: 100%;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  }
  &__img {
    width: 100%;
    height: auto;
    img {
      display: block;
      width: 100%;
    }
  }
}
.c_banner.slick-dotted {
  margin-bottom: 0;
}
.c_banner .slick-dots {
  bottom: 30px;
  width: auto;
  right: 60px;
  > li {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    > button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $color-white;
      &::before {
        display: none;
      }
      &:hover {
        background: $color-main;
      }
    }
  }
  > li.slick-active {
    > button {
      background: $color-main;
    }
  }
}

@media screen and (max-width: $md) {
  .c_banner__detail {
    padding: 40px 20px;
  }  
}

@media screen and (max-width: $sm) {
  #pageBanner {
    .c_banner-b__ttl.is_large span.is_pttl > br {
      display: block;
    }
  }
  .c_banner li {
    img.sp-only { display: block; }
    img.pc-only { display: none; }
  }
  .c_banner .slick-dots {
    right: 20px;
    bottom: 20px; 
    li {
      margin: 0 5px;
    }
  }
  .c_banner__detail {
    padding: 20px;
    justify-content: center;
  }
}

/*----------------------------------------------
	.c_banner-b
---------------------------------------------*/

.c_banner-b {
  position: relative;
  width: 70%;
  min-height: 580px;
  height: 0;
  padding-top: calc(580 / 900 * 70%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
  background: url(../img/bnr_inner_img01.jpg) center left / cover no-repeat;  
  position: relative;
  z-index: -1;
  float:right;
  
  &.is_shadow::before {
    position: absolute;
    top: 0;
    left: -5px;
    z-index: 1;
    content:'';
    width: 20%;
    height: 100%;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  }
}
.c_banner-b__img {
  width: 900px;
  height: 0;
  padding-top: calc(580 / 900 * 900px); /* calc(画像高さ ÷ 画像横幅 × 100%) */
  background: url(../img/bnr_inner_img01.jpg) center right / cover no-repeat;
  position: relative;
  z-index: -1;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    content:'';
    width: 40%;
    height: 100%;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  }
}
.c_banner-b__detail {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 140px 10% 40px;
  z-index: 2;
  > div {
    flex: 1;
  }
}
.c_banner-b__ttl {
  font-size: $fs-point-xl;
  line-height: $line-height-point-xxl; 
  margin-bottom: 50px;
  font-weight: $fw-serif-medium;
  letter-spacing: $space-xxxs;
}
.c_banner-b__ttl.is_large {
  font-size: $fs-point-xl-desktop; 
  margin-bottom: 40px;
  span {
    border-bottom: 1px solid $color-darkgray;
    padding-bottom: 7px;
  }
  small {
    font-size: $fs-area-s;
    display: block;
    letter-spacing: 0.1em;
    margin-top: 10px;
  }
}
.c_banner-b__detail_sp {
  margin-bottom: 50px;
  text-align: center;
  .c_banner-b__ttl {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: $md) {
  .c_banner-b__detail {
    padding: 40px 20px;
  }  
}

@media screen and (max-width: $sm) {
  .c_banner-b {
    width: 100%;
    height: 0;
    padding-top: calc(400 / 750 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
    background: url(../img/bnr_inner_img01_sp.jpg) center left / cover no-repeat; 
    min-height: 200px;
  }
  .c_banner-b__detail {
    padding: 50px 20px 20px;
    align-items: center;
  }
  .c_banner-b__detail_sp {
    margin-bottom: 20px;
    text-align: left;
    p > br { display: none; }
  }
  .c_banner-b__ttl {
    font-size: $fs-area-m;
    margin-bottom: 15px;  
  }
  .c_banner-b__ttl.is_large {
    font-size: $fs-point-m-desktop;
    margin-bottom: 0;
    small {
      font-size: $fs-area-xs;
    }
  }
}

/*----------------------------------------------
	.c_banner-c
---------------------------------------------*/

.c_banner-c {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: calc(400 / 1280 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
  background: url(../img/bnr_inner_img01.jpg) center right / cover no-repeat;  
  position: relative;
  z-index: -1;
  float:right;
  min-height: 400px;
}

@media screen and (max-width: $sm) {
  .c_banner-c {
    min-height: 200px;
    background-position: center center;
  }
  .c_banner-c.sp-only {
    padding-top: calc(200 / 375 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
  }
}

/*----------------------------------------------
	.c_banner-d
---------------------------------------------*/

.c_banner-d {
  position: relative;
  // max-width: 1280px;
  width: 100%;
  height: 0;
  // padding-top: calc(580 / 960 * 60%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
  background: url(../img/bnr_inner_img02-scaled.jpg) center / contain no-repeat;
  z-index: -1;  
  min-height: 580px;
  float: right;
  background-size: cover;
}

@media screen and (max-width: $sm) {
  .c_banner-d {
    width: 100%;
    height: 0;
    padding-top: calc(400 / 750 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
    background: url(../img/bnr_inner_img02-scaled.jpg) center / cover no-repeat; 
    min-height: 200px;
  }
}

/*----------------------------------------------
	.c_banner-e
---------------------------------------------*/

.c_banner-e {
  position: relative;
  // max-width: 1280px;
  width: 100%;
  // height: 0;
  // padding-top: calc(580 / 960 * 60%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
  background: url(../img/bnr_inner_img01.jpg) center / contain no-repeat;
  z-index: -1;  
  min-height: 580px;
  float: right;
  background-size: cover;
  z-index: 1;
}
.c_banner__img2 {
  width: 100%;
  height: auto;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  img {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: $sm) {
  .c_banner-e {
    width: 100%;
    height: 0;
    background: url(../img/bnr_inner_img01.jpg) center / cover no-repeat; 
    min-height: 200px;
  }
}