.c_txt {
  text-align:left;
}
.c_tag {
  display: inline-block;
  min-width: 6em;
  margin-right: 1em;
  border: 1px solid $color-main;
  border-radius: 50px;
  color: $color-main;
  font-size: $fs-point-s;
  text-align: center;
}
.c_box {
  background: url(../img/box_bg_icon.svg) no-repeat center center $color-lightblue;
  background-size: auto 80%;
  padding: 30px;
  margin: 50px 0 0;
}
.c_txt-c {
  text-align: center;
}
.c_phone {
  color: $color-main;
  font-size: $fs-point-xxl;
  font-weight: $fw-serif-bold;
  line-height: 1;
  a {
    pointer-events: none;
    text-align: none;
    color: $color-main;
  }
  span {
    position: relative;
    line-height: 1.5;
    padding-left: 30px;
    &::before {
      position: absolute;
      content: "";
      width: 26px;
      height: 28px;
      background: url(../img/icon-tel.svg) no-repeat center center;
      background-size: contain;
      top: calc(50% - 12px);
      left: 0;
    }
  }
}
.c_ph {
  pointer-events: none;
  color: $color-text-primary;
}
.c_img {
  display: block;
  width: auto;
  max-width: 100%;
  float: none;
  margin: 20px auto;
  &.is_right {
    float: right;
    margin: 0 0 20px 30px;
  }
  &.is_left {
    float: left;
    margin: 0 30px 20px 0;
  }
  &.is_m40 { margin: 40px auto; }
}
.c_fix {
  display: block;
  clear: both;
  overflow: hidden;
}
.is_translucent {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-text-primary, 0.5)
  }
}
.is_pttl > br { display: none; }
.c_flex {
  display: flex;
  justify-content: space-between;
  > div {
    padding: 0 20px;
  }
  &.is_center {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
.is_bglb {
  background: $color-lightblue;
}
.is_no-mb {
  margin-bottom: 0;
}
.is_colored {
  color: $color-main;
}
.mt80 {
  margin-top: 80px;
}
.is_bubble {
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 5px !important;
  br { display: initial; }
}
.is_f20 { 
  font-size: $fs-area-m;
  font-weight: $fw-serif-sembold;
}
.is_f18 { 
  font-size: $fs-point-s-desktop;
  font-weight: $fw-serif-sembold;
}

@media screen and (max-width: $sm) {
  .c_box {
    background-size: 180px;
    background-position: bottom 30% center;
    margin: 30px 0 0;
    padding: 15px;
  }
  .c_phone {
    font-size: $fs-point-l-mobile;
    a {
      pointer-events: initial;
    }
    span {
      position: relative;
      line-height: 1.5;
      padding-left: 25px;
      &::before {        
        width: 21px;
        height: 22px;        
        top: calc(50% - 10px);
      }
    }
  }
  .c_ph {
    pointer-events: initial;
  }
  .c_img {
    &.is_right,
    &.is_left {
      float: none;
      margin: 20px auto 0;
    }
    &.is_m40 { margin: 20px auto; }
  }
  .c_flex {
    display: block;
    > div {
      padding: 0;
    }
    &.is_center {
      justify-content: flex-start;
    }
  }
  .mt80 {
    margin-top: 40px;
  }
  .is_f20 { font-size: $fs-area-base; }
  .is_f18 { font-size: $fs-area-base; }
}