/*----------------------------------------------
	.c_postnav
---------------------------------------------*/
.c_postnav {
  display: flex;
  justify-content: center;
  > div {
    margin-top: 50px;
    a {
      display: block;
      font-size: 0;
      width: 50px;
      height: 50px;
      background: $color-gray;
      margin: 0 35px;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        top: 14px;
        left: 20px;
        width: 20px;
        height: 20px;
        border-top: 2px solid $color-white;
        border-left: 2px solid $color-white;
        transform: rotate(-45deg);
      }
    }
    a:hover {
      background: $color-main;
    }
  }
  .is_pnav-next {
    a {
      &::after {
        border-left: 0;
        border-right: 2px solid $color-white;
        transform: rotate(45deg);
        left: auto;
        right: 20px;
      }
    }
  }
  ul.page-numbers {    
    margin-top: 50px;
  }
  .page-numbers {
    display: flex;
    flex-wrap: wrap;
    font-size: $fs-area-s;
    font-weight: $fw-serif-sembold;
    padding: 0 15px;
    a.prev,
    a.next { display: none; }
  }
}

@media screen and (max-width: $sm) {
  .c_postnav {
    margin: 30px 0;
  }
}