/*----------------------------------------------
	.c_ttl
---------------------------------------------*/

.c_ttl {
  font-size: $fs-point-xl-desktop;
  font-family: $serif;
  font-weight: $fw-serif-medium;
  line-height: $line-height-point-xl;
  color: $color-text-primary;
  letter-spacing: $space-xxxs;
  display: block;
  position: relative;
  text-align: left;
  margin-bottom: 30px;
  span {
    font-size: $fs-area-s;
    color: $color-main;
    display: block;
    margin-bottom: 20px;
    line-height: $line-height-point;
  }
}
.c_ttl.is_large {
  font-size: $fs-point-xxl-desktop;
  line-height: $line-height-point-xxl;
}
.c_ttl.is_medium {
  font-size: $fs-point-xxxl;
  line-height: $line-height-point-xxl;
}
.c_ttl.is_small {
  font-size: $fs-point-xl;
  line-height: $line-height-point-xxl;
}
.c_ttl.is_center {
  text-align: center;
  div {
    font-size: 28px;
    position: relative;
    &:after {
      background-color: #63B1D5;
      bottom: -30px;
      content: '';
      height: 1px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      width: 140px;
    }
    span { margin-bottom: 5px; }
  }
}
.c_ttl.is_secondary {
  text-align: left;
  span {
    &:before {
      content: '';
      background: $color-main;
      width: 28px;
      height: 1px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: $sm) {
  .c_ttl {
    font-size: $fs-point-l-mobile;
    margin-bottom: 15px;  
    span {
      margin-bottom: 10px;
    }
  }
  .c_ttl.is_large {
    font-size: $fs-point-xl;
  }
  .c_ttl.is_medium {
    font-size: $fs-area-m;
  }
  .c_ttl.is_small {
    font-size: $fs-area-m;
  }
}

/*----------------------------------------------
	.c_ttl-b
---------------------------------------------*/

.c_ttl-b {  
  font-size: $fs-point-l-desktop;
  font-family: $serif;
  line-height: $line-height-point-xxl;
  font-weight: $fw-serif-medium;
  color: $color-text-primary;
  letter-spacing: $space-xxxs;
  display: block;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 70px;
  &::after {
    content: '';
    position: absolute;
    width: 140px;
    height: 1px;
    background: $color-main;
    bottom: 0;
    left: calc(50% - 70px);
  }
  &.is_lb {
    background-color: #edf7fc;
    padding-bottom: 0;
    padding: 0 20px;
    &::after {
      display: none;
    }
  }
}

@media screen and (max-width: $sm) {
  .c_ttl-b {
    font-size: $fs-area-l;
    padding-bottom: 15px;
    margin-bottom: 30px;
    margin-top: 40px;
    &:after {
      width: 100px;
      left: calc(50% - 50px);
    }
  }
}


/*----------------------------------------------
	.c_ttl-c
---------------------------------------------*/

.c_ttl-c {  
  font-size: $fs-point-m-desktop;
  font-family: $serif;
  line-height: $line-height-point-xl;
  font-weight: $fw-serif-medium;
  color: $color-text-primary;
  letter-spacing: $space-xxxs;
  display: block;
  position: relative;  
  border-bottom: 1px solid $color-gray;
  margin-bottom: 40px;
  span {
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      max-width: 110px;
      height: 1px;
      background: $color-main;
      bottom: -1px;
      left: 0;
    }
  }
  &.no_bd {
    border: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: $sm) {
  .c_ttl-c {
    font-size: $fs-area-m;
    margin-bottom: 20px;
    span {
      padding-bottom: 5px;
      &::after {
        max-width: 100%;
      }
    }
    &.no_bd {
      font-size: $fs-point-s-desktop;
    }
  }
}

/*----------------------------------------------
	.c_ttl-d
---------------------------------------------*/

.c_ttl-d {  
  color: $color-main;
  font-size: $fs-area-l;
  font-family: $serif;
  line-height: $line-height-point-xl;
  font-weight: $fw-serif-sembold;
  letter-spacing: $space-xxxs;
  display: block;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    width: 55px;
    height: 1px;
    background: $color-gray;
    bottom: 0;
    left: 0;
  }
  &.is_wdate {
    color: $color-text-primary;
    position: relative;
    padding-left: 190px;
    min-height: 40px;
    span {
      color: $color-main;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &.no_bd {
    padding-bottom: 0;
    &::before { display: none; }
  }
}

@media screen and (max-width: $sm) {
  .c_ttl-d {
    font-size: $fs-point-l;
    &.is_wdate {
      padding-left: 0;
      min-height: auto;
      span {
        position: static;
        display: block;
      }
    }
    &.no_bd {
      margin-bottom: 10px;
    }
  }
}

/*----------------------------------------------
	.c_ttl-e
---------------------------------------------*/

.c_ttl-e {  
  color: $color-main;
  font-size: $fs-area-m;
  font-family: $serif;
  line-height: $line-height-point-xl;
  font-weight: $fw-serif-sembold;
  letter-spacing: $space-xxxs;
  display: block;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 20px;
  position: relative;
  border-bottom: 1px solid $color-gray;
}

@media screen and (max-width: $sm) {
  .c_ttl-e {
    font-size: $fs-point-s-desktop;
    margin-bottom: 15px;
  }
}


/*----------------------------------------------
	.c_ttl-f
---------------------------------------------*/

.c_ttl-f {  
  color: $color-text-primary;
  font-family: $serif;
  font-weight: $fw-serif-medium;
  display: block;
  position: relative;
  margin-bottom: 20px;
  > span {
    display: inline-block;
    border-bottom: 1px solid $color-gray;
  }
}

@media screen and (max-width: $sm) {

}