/*----------------------------------------------
	.p_app
---------------------------------------------*/
.p_app__item {
  margin-top: 80px;
}
.p_app__content {
  table {
    margin-top: 30px;
    width: 100%;
    tr {
      th {
        width: 190px;
        background: $color-lightblue;
        font-weight: $fw-serif-sembold;
        text-align: left;
      }
      th,td {
        padding: 5px 20px;
        border-top: 1px solid $color-gray;
      }
      &:last-child {
        th,td {
          border-bottom: 1px solid $color-gray;
        }
      }
    }
  }
  table.is_tbl2 {
    line-height: 1.5;
    tr {
      th {
        width: 150px;
      }
      th,td {
        border: 0;
        padding: 0 20px;
        height: 55px;
        vertical-align: middle;
      }
      &:last-child {
        th,td {
          border: 0;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .p_app__item {
    margin-top: 40px;
  }
  .p_app__content {
    table {
      margin-top: 20px;
      font-size: $fs-area-s;
      tr {
        th {
          width: 80px;
        }
        th,td {
          padding: 10px;
        }
      }
    }
    table.is_tbl2 {
      font-size: $fs-area-base;
      line-height: 2;
      tr {
        th,td {
          display: block;
          width: 100%;
          height: auto;
        }
        th {
          width: 100%;
          text-align: center;
          padding: 3px 10px;
        }
        td {
          padding: 10px 0;
        }
      }
    }
  }
}
