/*----------------------------------------------
	.p_charges
---------------------------------------------*/

.p_charges {
  // padding-top: 45px;
  // text-align: center;

  &__list {
    font-weight: 500;
    text-align: left;
    li {
      // align-it ems: center;
      border-bottom: 1px solid $color-gray;
      display: flex;
      // justify-content: space-between;
      margin-bottom: 30px;
      padding: 10px;
      &:last-child { margin-bottom: 15px; }
    }
    &.is_3cols {
      .p_charges__method {
        width: 180px;
      }
      .p_charges__price,
      .p_charges__fee {
        width: 200px;
      }
    }
  }
  &__tbl {
    width: 100%;
    text-align: left;
    font-weight: $fw-serif-medium;
    margin-bottom: 15px;
    .is_txtright { 
      text-align: right; 
      margin-right: 20px;
      width: 100px;
      display: inline-block;
    }
    .is_txtright.sp-only { display: none; }
    .is_aright { text-align: right; }
    tr { border-bottom: 1px solid #ccc; }
    tr.is_bd2 {
      border: none;
      td,th {
        position: relative;
        padding-right: 20px;
        &::before {
          position: absolute;
          content: '';
          width: calc(100% - 20px);
          height: 1px;
          background: #ccc;
          bottom: 0;
          left: 0;
        }
        &.is_nobd { 
          position: static; 
          border: none;
        }
      }
      td:last-child,
      th:last-child {
        padding-right: 0;
        &::before {
          width: 100%;
        }
      }
    }
    thead {
      td { font-size: $fs-area-s; }
      th,td { 
        padding: 13px 0;
      }
    }
    tbody {
      th,td {
        padding: 40px 20px 13px 0;
      }
      th[rowspan] {
        padding: 13px 20px 13px 0;
      }
    }
    td:first-child { min-width: 50px; }
    th,td {
      line-height: 1.8;
      vertical-align: middle;
    }
    .is_pr {
      font-size: $fs-area-m;
      line-height: 1.5;
      small { font-size: 16px; }
    }
    &.is_lg {
      .is_pr {
        font-size: $fs-point-m-desktop;
        line-height: 1;
        small {
          font-size: $fs-area-m;
        }
      }
    }
    &.is_pr-fixed {
      .is_pr {
        min-width: 100px;
        display: inline-block;
      }
    }
  }
  &__course {
    flex: 1;
    padding: 0 20px;
  }
  &__method {
    text-align: left;
    width: calc(100% - 220px);
  }
  &__price { 
    font-size: 24px; 
    line-height: 1.5;
    small {
      font-size: 80%;
    }
  }
  &__note {
    font-size: 14px;
    padding-bottom: 20px;
    text-align: right;
  }
  .c_btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  small {
    font-size: 80%;
  }
}

@media screen and (max-width: $sm) {
  .p_charges__list {
    li {
      padding: 5px 0;
      margin-bottom: 10px;
      flex-direction: column;
      &:first-child {
        font-size: $fs-area-s;
        .p_charges__fee { display: none; }
      }
      &:last-child {
        margin-bottom: 10px; 
      }
      .p_charges__fee {
        font-size: $fs-area-s;
        display: inline-block;
        margin-right: 10px;
      }
    }
    &.is_3cols {
      .p_charges__method {
        width: auto;
      }
      .p_charges__price,
      .p_charges__fee {
        width: auto;
      }
    }
  }
  .p_charges__tbl {
    margin-bottom: 10px;
    .is_txtright { 
      width: auto;
      margin: 0 20px;
    }
    .is_txtright.sp-only { display: inline-block; }
    thead {
      td:not(:first-child),
      th:not(:first-child) { display: none; }
      th { font-size: $fs-area-s; }
      tr { padding: 3px 0; }
      th,td { padding: 0; }
    }
    tbody {
      th,td { padding: 0; }
      th {
        padding-top: 5px;
      }
      th[rowspan] {
        padding: 5px 0 0;
      }
    }
    tr {
      display: block;
      width: 100% !important;
      padding: 10px 0;
    }
    tr.is_bd2 {
      border-bottom: 1px solid #ccc;
      td,th {
        position: static;
        padding-right: 0;
      }
    }
    td {
      text-align: right;
      margin-top: 10px;
      small.sp-only {
        font-size: $fs-area-s;
        margin-right: 10px;
        display: block;
        float: left;
        padding-left: 20px;
        text-align: left;
      }
    }
    th,td {
      display: block;
      width: 100% !important;
    }
    .is_pr {
      font-size: $fs-point-m-desktop;
      line-height: 1;
      small { font-size: 16px; }
    }
    .sp-only { display: inline-block; }
    .pc-only { display: none; }
  }
  .p_charges__course {
    flex: auto;
    width: auto;
    padding: 0;
  }
  .p_charges__method {
    width: auto;
    line-height: $line-height-point-xl;
  }  
  .p_charges__price {
    font-size: $fs-point-m-desktop;
    text-align: right;
    line-height: 1;
    margin: 5px 0 10px;
    small {
      font-size: $fs-area-m;
    }
  }
  .p_charges__note {
    // padding-bottom: 0;
  }
}