/*----------------------------------------------
	.p_column
---------------------------------------------*/
.p_column {
  margin-top: -5px;
  padding: 50px;
  p { margin-bottom: 20px; }
  .c_ttl-c.no_bd { margin-bottom: 30px; }
  hr { margin: 20px 0; }
  &__visual {
    padding: 20px 50px 0;
    background: linear-gradient(to bottom, $color-white 60%, $color-lightblue 40%);
    img {
      display: block;
      max-width: 100%;
      width: auto;
      margin: 0 auto;
    }
  }
  &__list {
    > ul {
      > li {
        padding-left: 340px;
        position: relative;
        display: block;
        margin-bottom: 40px;
        min-height: 300px;
        .p_column__thumb {
          position: absolute;
          top: 0;
          left: 0;
          width: 300px;
          min-height: 300px;
          background: $color-gray;
          img {
            display: block;
            width: 100%;
          }
          .is_visual {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 300px;
          }
        }
        .p_column__content {
          padding-top: 40px;
          .p_pickup__btn {
            margin-top: 20px;
          }
        }
      }
    }
  }  
}

@media screen and (max-width: $sm) {
  .p_column {
    padding: 25px 20px;
    p { margin-bottom: 15px; }
    .c_ttl-c.no_bd { margin-bottom: 20px; }
    &__visual {
      padding: 0 20px;
    }
    &__list {
      > ul {
        > li {
          padding-left: 0;
          min-height: auto;
          .p_column__thumb {
            position: static;
            width: 200px;
            min-height: 200px;
            margin: 0 auto 20px;
            .is_visual {
              width: 100%;
              height: 200px;
            }
          }
          .p_column__content {
            padding-top: 0;
            text-align: justify;
            h3 {
              text-align: left;
            }
            .p_pickup__btn {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}