/*----------------------------------------------
	.p_detail
---------------------------------------------*/
.p_detail {
  &__item {
    margin-bottom: 50px;
  }
  &__content {
    margin-top: 30px;
    overflow: hidden;  
  }
  &__map {
    margin-top: 20px;
    text-align: center;
  }
  &__logo {
    margin-top: 0;
    img {
      width: 56px;
    }
    ul {
      justify-content: center;
      li {
        margin-right: 30px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    &-ttl {
      margin-bottom: 20px;
      font-size: $fs-point-s-desktop;
      font-weight: $fw-serif-medium;
    }
  }
  &__boxed-txt {
    margin-bottom: 20px;
    span {
      display: inline-block;
      border: 1px solid $color-main;
      color: $color-main;
      padding: 2px 20px;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    background: $color-lightblue;
    padding: 40px 50px;
    margin-top: 30px;
    > div {
      flex: 1;
      &:nth-child(2) { text-align: right; }
    }
    &-phone {
      margin-top: 20px;
      img {
        float: left;
        margin: 10px 20px 0 0;
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .p_detail {
    &__item {
      margin-bottom: 30px;
    }
    &__content {
      margin-top: 15px;
    }
    &__map {
      .c_btn {
        margin-top: 20px;
      }
    }
    &__logo {    
      margin-bottom: 10px;
      &:last-of-type {
        margin-bottom: 0;
      }  
      ul {
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }
    &__box {
      display: block;
      padding: 20px;
      margin-top: 20px;
      > div {
        &:nth-child(2) { 
          margin-top: 30px;
        }
      }
      &-phone {
        margin-top: 20px;
        img {
          margin: 5px 10px 20px 0;
        }
      }
    }
  }
}

/*----------------------------------------------
	.p_detail-b
---------------------------------------------*/
.p_detail-b {
  h3 {
    letter-spacing: 0;
  }
}
.p_detail__thumbnail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    display: block;
    width: calc(50% - 15px);
    margin-bottom: 40px;
    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
    img {
      width: 100%;
      max-width: 465px;
      margin: 0 auto 10px;
      display: block;
    }
    h4 {
      color: $color-main;
      font-weight: $fw-serif-sembold;
      letter-spacing: $space-xxxs;
    }
  }
}

@media screen and (max-width: $sm) {
  .p_detail__thumbnail {
    flex-direction: column;
    li {
      width: 100%;
      margin-bottom: 25px;
      &:nth-last-child(2) {
        margin-bottom: 25px;
      }
      img {
        max-width: 400px;
        width: 100%;
      }
    }
  }
}