/*----------------------------------------------
	.p_faq
---------------------------------------------*/

.p_faq {
	// padding-top: 60px;
	text-align: left;
	> ul {
		> li {
			padding-bottom: 40px;
			&:last-child { padding-bottom: 0; }
		}
	}
	&__quest {
		border-bottom: 1px solid $color-gray;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 20px;
		padding: 0 0 20px 50px;
		position: relative;
	}
	&__ans {
		padding: 0 40px 20px 50px;
		position: relative;
	}
	&__quest > span,
	&__ans > span {
		color: $color-main;
		font-size: 30px;
		font-weight: 500;
		left: 0;
		line-height: normal;
		position: absolute;
		top: -4px;
	}
	&__ans > span {
		color: #E09AB2;
	}
	&__box {
		background: $color-lightblue;
    margin-top: 20px;
		padding: 40px 20px;
		text-align: center;
	}
	&__contact {		
    margin-top: 30px;
		li {
			a {
        pointer-events: none;
				color: $color-text-primary;
      }
      a:hover {
        text-decoration: none;
      }
		}
    .p_contact__name {
      font-size: 16px;
    }
    .p_contact__tel {
      line-height: 1.5;
      span {
				position: relative;
				padding-left: 28px;
				color: $color-main;
				&::before {
					position: absolute;
					content: '';
					width: 22px;
					height: 24px;
					background: url(../img/icon-tel.svg) no-repeat center center;
					background-size: contain;
					top: 8px;
					left: 0;
				}
			}
    }    
  }
  // .p_contact__time {
  //   text-align: right;
  // }
  &__btns {
    display: flex;
    justify-content: center;
    .c_btn {
      font-size: 16px;
      margin: 20px 15px 0;
      width: calc(50% - 15px);
			max-width: 300px;
			&::after {
        width: 30px;
				right: 15px;
      }
			&:hover::after {
        right: 8px;
      }
    }
  }
	&__logo {
		margin-top: 20px;
		ul {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
}

@media screen and (max-width: $sm) {
  .p_faq {
    > p {
      margin-bottom: 20px;
    }
    > ul > li {
      padding-bottom: 30px;
      &:last-child {
        padding-bottom: 30px;
      }
    }
		&__btns {
			flex-direction: column;
			.c_btn {
				width: 100%;
				margin: 10px auto 0;
			}
		}
		&__contact {
      margin-top: 20px;
      li {
        width: 32.33%;        
        a {
          pointer-events: initial;
          background-color: #61B2D7;
          color: #FFFFFF;
          width: 100%;
          height: 50px;
          display: block;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .p_contact__name {
        color: $color-white;
        position: relative;
        padding-left: 20px;
				font-size: 14px;
        &::before {
          position: absolute;
          content: '';
          width: 13px;
          height: 16px;
          background: url(../img/icon-tel-white.svg) no-repeat center center;
          background-size: contain;
          top: 0;
          left: 0;
        }
      }
      .p_contact__tel,
			.p_contact__time {
        display: none;
      }   
    }
		.p_contact__time {
			margin-top: 5px;
		}
		&__logo {
			ul {
				li {
					margin-bottom: 10px;
				}
				a {
					display: block;
				}
			}
			img {
				max-width: 70px;
			}
		}
  }
	.p_faq__quest > span, 
	.p_faq__ans > span {
		font-size: $fs-area-m;
		top: 2px;
	}
	.p_faq__quest {
		padding: 0 0 10px 30px;
    margin-bottom: 10px;
		font-size: $fs-point-l;
	}
  .p_faq__ans {
    padding: 0 0 0 30px;
  }
	.p_faq__box {
		padding: 20px;
		width: calc(100% + 30px);
    margin-left: -30px;
	}
}

@media screen and (max-width: $xs) {
	.p_faq {
		&_logo {
			ul {
				li {
					width: 33.33%;
					text-align: center;
				}
			}
		}
	}
	.p_faq__contact .p_contact__name {
		padding: 20px 0 0;
		&::before {
			top: 0;
    	left: calc(50% - 6px);
		}
	}
}