/*----------------------------------------------
	.p_flow
---------------------------------------------*/

.p_flow {
  // padding-top: 60px;
  &__head {
    margin-bottom: 30px;
  }
  &__steps {
    li {
      display: flex;
      justify-content: space-between;
      padding-bottom: 60px;
      &:last-child .p_flow__txt { padding-top: 15px; }
    }
  }
  &__step {
    // border-right: 1px solid $color-gray;
    font-size: 20px;
    font-weight: 600;
    line-height: $line-height-topmenu;
    small {
      color: $color-main;
      display: block;
      font-size: 14px;
      font-weight: 500;
    }
  }
  &__txt {
    text-align: left;
    width: calc(100% - 220px);
    position: relative;
    &:before {
      background-color: $color-gray;
      content: '';
      height: 100%;
      left: -30px;
      position: absolute;
      top: 0;
      width: 1px;
    }
    &.c_content__row {
      margin-top: 0;
      overflow: unset;
      overflow: initial;
    }
  }

  &__ttl {
    font-size: 20px;
    font-weight: $fw-serif-bold;
    padding-bottom: 15px;
    text-align: center;
  }
  &__notes {
    li {
      border-bottom: 1px solid $color-gray;
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      span {
        flex: 1;
      }
      span:first-child {
        font-weight: $fw-serif-sembold;
      }
      span:last-child {
        text-align: left;
        width: calc(100% - 220px);
        flex: none;
      }
    }
  }
  &__contact {
    margin-top: 20px;
    li {
      a {
        pointer-events: none;
      }
      a:hover {
        text-decoration: none;
      }
    }
    .p_contact__name {
      font-size: 14px;
      color: $color-text-primary;
    }
    .p_contact__tel {
      font-size: 22px;
      line-height: 1.5;
      position: relative;
      padding-left: 25px;
      &::before {
        position: absolute;
        content: '';
        width: 19px;
        height: 21px;
        background: url(../img/icon-tel.svg) no-repeat center center;
        background-size: contain;
        top: 6px;
        left: 0;
      }
    }    
  }
  .p_contact__time {
    text-align: right;
  }
  .p_flow__btns {
    display: flex;
    justify-content: space-between;
    .c_btn {
      font-size: 16px;
      margin-top: 20px;
      width: calc(50% - 15px);
      &::after {
        width: 30px;
        right: 15px;
      }
      &:hover::after {
        right: 8px;
      }
    }
  }
  .p_flow__box {
    background: #fafafa;
    display: block;
    padding: 40px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: $sm) {
  .p_flow {
    margin-top: 40px;
    &__contact {
      margin-top: 20px;
      li {
        width: 32.33%;        
        a {
          pointer-events: initial;
          background-color: #61B2D7;
          color: #FFFFFF;
          width: 100%;
          height: 50px;
          display: block;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .p_contact__name {
        color: $color-white;
        position: relative;
        padding-left: 20px;
        &::before {
          position: absolute;
          content: '';
          width: 13px;
          height: 16px;
          background: url(../img/icon-tel-white.svg) no-repeat center center;
          background-size: contain;
          top: 0;
          left: 0;
        }
      }
      .p_contact__tel {
        display: none;
      }   
    }
    .p_contact__time {
      text-align: center;
      margin-top: 5px;
    } 
    .p_flow__btns {
      flex-wrap: wrap;
      margin-top: 10px;
      .c_btn {
        min-width: 280px;
        margin: 10px auto 0;
      }
    }
    .p_flow__box {
      padding: 20px;
    }
  }
  .p_flow__steps {
    li {
      flex-direction: column;
      position: relative;
      padding-bottom: 35px;
      margin-bottom: 15px;
      &:after {
        position: absolute;
        content: '';
        width: 1px;
        height: 20px;
        background: $color-gray;
        bottom: 0;
        left: 50%;
      }
      &:last-child {
        &:after {
          display: none;
        }
        .p_flow__txt {
          padding-top: 0;
        }
      }
    }
  }
  
  .p_flow__step {
    font-size: $fs-point-l;
    text-align: center; 
    margin-bottom: 10px;
  }
  .p_flow__txt {
    width: 100%;
    &:before {
      display: none;
    }
  }
  .p_flow__notes {
    margin-bottom: 30px;
    li {
      span:last-child {
        width: calc(100% - 200px);
      }
    }
  }
}

@media screen and (max-width: $xs) {
  .p_flow__notes {
    li {
      font-size: $fs-area-s;
      span:last-child {
        width: calc(100% - 120px);
        padding-left: 20px;
      }
    }
  }
}


/*----------------------------------------------
	.p_flow .p_flow__steps-b
---------------------------------------------*/
.p_flow__steps-b {
  > li {
    position: relative;
    padding-left: 330px;
    min-height: 246px;
    margin-bottom: 60px;
    .p_flow__img {
      position: absolute;
      max-width: 300px;
      width: 100%;
      display: block;
      top: 0;
      left: 0;
      &::after {
        position: absolute;
        width: 1px;
        height: 40px;
        background: $color-main;
        bottom: -20px;
        left: 50%;
        content: '';
      }
      img {
        display: block;
        margin: 0 auto;
        width: 100%;
      }
    }
    > div {
      flex: 1;
    }
    &:last-child {
      margin-bottom: 0;
      .p_flow__img::after { display: none; }
    }
  }
  .p_flow__step {
    display: block;
    position: relative;
    line-height: 1.8;
    padding-bottom: 15px;
    margin-bottom: 15px;
    letter-spacing: $space-xxxs;
    &:after {
      position: absolute;
      content: '';
      width: 55px;
      height: 1px;
      background: $color-gray;
      bottom: 0;
      left: 0;
    }
  }
  .p_flow__txt {
    &::before {
      display: none;
    }
  }
}

@media screen and (max-width: $sm) {
  .p_flow__steps-b {
    li {
      padding-left: 0;
      min-height: auto;
      .p_flow__img {
        position: static;
        margin: 0 auto 20px;
        min-width: 150px;
        width: 40%;
        padding-right: 20px;
        display: inline-block;
        vertical-align: top;
        &::after {
          height: 30px;
          bottom: -45px;
        }
      }
    }
    .p_flow__step {
      text-align: left;
      display: inline-block;
      vertical-align: top;
    }
    .p_flow__content {
      width: 100%;
    }
  }
}