/*----------------------------------------------
	.p_list
---------------------------------------------*/
.p_list {
  &__1col {
    > li {
      margin-bottom: 30px;
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__2col {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 50px;
    text-align: left;
    margin: 0;
    padding: 0;
    clear: both;
    overflow: hidden;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    > li {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid-column;
    }
  }
  &__dot {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    li {
      position: relative;
      padding-left: 20px;
      line-height: 1.6;
      margin-bottom: 15px;
      &::before {
        position: absolute;
        content: '';
        top: 10px;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $color-main;
      }
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: $color-text-primary;
      }
    }
  }
  &__wide {
    > ul > li {
      margin-bottom: 60px;
      display: block;
      &:last-of-type { margin-bottom: 0; }
    }
  }
}
.p_list__menus {
  ul {
    li {
      display: inline-block;
      &::after {
        content:',';
        margin-right: 5px;
      }
      &:last-child::after {
        display: none;
      }
    }
  }
}
.p_list__tbl__row {
  margin-top: 50px;
  &.f_anchor::before {
    height: 180px;
    margin-top: -180px;
  }
}
.p_list__order {
  text-align: center;
  ul {
    display: inline-block;
    text-align: left;
    li {
      position: relative;
      padding-left: 35px;
      span {
        position: absolute;
        top: 0;
        left: 0;
        color: $color-main;
      }
    }
  }
  &.is_order2 {
    text-align: left;
    ul {
      display: block;
    }
  }
}
.p_list__head {
  position: relative;
  cursor: pointer;
  padding-right: 50px;
  &::after {
    position: absolute;
    content: '';
    right: 20px;
    width: 10px;
    height: 10px;
    border-top: 2px solid $color-main;
    border-left: 2px solid $color-main;
    top: 16px;
    transform: rotate(-135deg);
    z-index: 9;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    cursor: pointer;
  }
  &.active::after {
    transform: rotate(45deg);
    top: 24px;
  }
}
.p_list__inner {
  display: none;
}

@media screen and (max-width: $sm) {
  .p_list {
    &__1col {
      > li {
        margin-bottom: 15px;
        
      }
    }
    &__2col {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
      
    }
    &__dot {
      li {
        margin-bottom: 10px;
      }
    }
    &__wide {
      > ul > li {
        margin-bottom: 30px;
      }
    }
  }
  .p_list__tbl__row {
    margin-top: 30px;
  }
  .p_list__order {
    ul {
      display: block;
      li {
        padding-left: 25px;
      }
    }
  }
  .p_list__head {
    padding-right: 28px;
    &::after {
      width: 8px;
      height: 8px;
      top: 14px;
      right: 10px;
    }
    &.active::after {
      top: 18px;
    }
  }
}