/*----------------------------------------------
	.p_menu
---------------------------------------------*/

.p_menu__list {
  margin: 0 0 100px;
  display: flex;
  li {
    flex: 1;
    text-align: center;
    font-size: $fs-point-s-desktop;
    padding: 0 10px;
    a {
      display: block;
      font-weight: $fw-serif-medium;
      color: $color-main;
      border-bottom: 1px solid $color-gray;
      position: relative;
      padding: 10px 0;
      text-decoration: none;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: $line-height-point-xl;
      &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 15px;
        background: $color-text-primary;
        bottom: -8px;
        left: 50%;
        transition: all 0.3s;
      }
      &:hover,
      &.current:hover {
        &::after {
          height: 20px;
          bottom: -15px;
        }
      }
    }
  }
}

.p_menu__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.p_menu__tabs li { width: 140px; transition: all 0.3s ease; }
.p_menu__tabs li a {
  border-radius: 50%;
  border: 1px solid #63B1D5;
  color: $color-main;
  display: inline-block;
  font-size: 30px;
  height: 140px;
  letter-spacing: 0.1em;
  line-height: $line-height-point-xl;
  padding: 50px 0 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 100%;
  span {
    color: $color-text-primary;
    display: block;
    font-size: $fs-area-s;
    font-weight: 500;
    letter-spacing: normal;
  }
  &:before {
    content: "";
    height: 37px;
    left: 0;
    position: absolute;
    right: 0;
    top: 14px;
  }
}
.p_menu__tabs li.ui-tabs-active,
.p_menu__tabs li.ui-state-hover {
  text-decoration: none;
  transform: scale(1.2);
}

#face li a:before { content: url('../img/icon-trouble02.svg'); }
#skin li a:before { content: url('../img/icon-trouble01.svg'); }
#body li a:before { content: url('../img/icon-trouble03.svg'); }
#other li a:before { content: url('../img/icon-trouble04.svg'); }


.p_menu__head {
  position: relative;
  cursor: pointer;
  padding-right: 50px;
  &::after {
    position: absolute;
    content: '';
    right: 20px;
    width: 10px;
    height: 10px;
    border-top: 2px solid $color-main;
    border-left: 2px solid $color-main;
    top: 16px;
    transform: rotate(-135deg);
    z-index: 9;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    cursor: pointer;
  }
  &.active::after {
    transform: rotate(45deg);
    top: 24px;
  }
}

.p_menu__inner { display: none; }

.p_menu__tlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 68px;
}

.p_menu__tlist li{
  width: calc((100% / 2) - 20px);
}

.p_menu__tlist li a {
  border-bottom: 1px solid $color-gray;
  color: $color-text-primary;
  display: inline-block;
  font-size: $fs-point-l;
  font-weight: 500px;
  padding: 25px 0;
  position: relative;
  transition: all .2s;
  width: 100%;
  &:after {
    background: $color-text-primary;
    content:"";
    height: 1px;
    position: absolute;
    right: 25px;
    top: 50%;
    transition: all 0.3s;
    width: 25px;
  }
  &:hover {
    color: $color-main;
    text-decoration: none;
  }
  &:hover:after {
    background: $color-main;
    right: 10px;
  }
}



.p_menu__box {
  padding: 40px;
  border: 1px solid $color-gray;
  .p_menu__box__ttl {
    text-align: center;
    font-size: $fs-point-xl;
    font-weight: $fw-serif-medium;
    margin-bottom: 30px;
    letter-spacing: $space-xxxs;
  }
  .p_menu__box__list {
    text-align: center;
    ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      // column-gap: 100px;
      display: inline-block;
      text-align: left;
      margin: 0;
      padding: 0;
      clear: both;
      overflow: hidden;
      li {
        padding-left: 30px;
        position: relative;
        margin: 0 50px 5px;
        &:last-child {
          margin-bottom: 0;
        }
        &::before {
          content: '';
          position: absolute;
          top: 12px;
          left: 0;
          width: 12px;
          height: 6px;
          border-left: 1px solid $color-main;
          border-bottom: 1px solid $color-main;
          transform: rotate(-45deg);
        }
        &.is_nocheck {
          padding-left: 0;
          &::before { display: none; }
        }
      }
    }
    ul.is_default {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
    }
  }
}



@media screen and (max-width: $sm) {

  .p_menu__tabs {
    flex-wrap: wrap;
    margin-bottom: 10px;
    li {
      max-width: 140px;
      width: calc(50% - 20px);
      margin: 15px 10px;
    }
  }
  .p_menu__tlist {
    margin-bottom: 30px;
    li {
      width: 100%;
      a {
        padding: 10px 0;
        font-size: $fs-area-base;
        &:after {
          right: 15px;
        }
      }
    }
  }

  .p_menu__head {
    padding-right: 28px;
    &::after {
      width: 8px;
      height: 8px;
      top: 14px;
      right: 10px;
    }
    &.active::after {
      top: 18px;
    }
  }

  .p_menu__box {
    padding: 20px;
    .p_menu__box__ttl {
      font-size: $fs-area-l;
      margin-bottom: 10px;
    }
    .p_menu__box__list {
      text-align: left;
      ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
        li {
          margin: 0 0 5px;
        }
      }
    }
  }
}

