/*----------------------------------------------
	.p_news
---------------------------------------------*/

.p_news {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.p_news__info { 
  width: 230px; 
  padding-bottom: 150px;
}
.p_news__ttl {
  span { margin-bottom: 0; }
}
.p_news__img{
  width: 60%;
  margin-top: 20px;}
.p_news__social {
  width: 230px;
  position: absolute;
  bottom: 75px;
  left: 0;
  display: flex;
  justify-content: flex-start;
}
.p_news__social li {
  padding-right: 17px;
  &:last-child { padding-right: 0; }
  img {
    display: block;
  }
}
.p_news__social li a { display: block; }
.p_news__list { 
  width: 660px; 
  .c_btn {
    margin-top: 10px;
  }
}
.p_news__list ul li {
  cursor: pointer;
  padding: 20px 0;
  border-bottom: 1px solid $color-gray;
  position: relative;
  transition: all .2s;
  &:first-child { border-top: 1px solid $color-gray; }
  &:hover {
    text-decoration: none;
    opacity: 0.6;
  }
  &:after {
    position: absolute;
    content: '';
    width: 27px;
    height: 1px;
    background: $color-text-primary;
    right: 25px;
    top: 50%;
    transition: all 0.3s;
  }
  &:hover:after {     
    right: 10px;
	}
  &.is_non:hover {
    cursor: unset;
    opacity: 1;
  }
}
.p_news__list ul li a {
  color: $color-text-primary;
  display: inline-block;
  text-align: left;
  &:hover {
    text-decoration: none;
  }
}
.p_news__date {
  color: $color-main;
  display: inline-block;
  min-width: 110px;
}
.p_news__bnr {
  text-align: center;
  margin-bottom: 20px;
  a {
    display: inline-block;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 25px;
      height: 1px;
      background: $color-main;
      right: 15px;
      top: calc(50% + 10px);
      transition: all 0.3s;
    }
    &:hover:after {
      right: 10px;
    }
    img {
      width: 100%;
    }
  }
  &.no_after {
    margin: 20px auto;
    text-align: initial;
    a:after { display: none }
    a:hover { opacity: 0.6; }
  }
}


@media screen and (max-width: $sm) {
  .p_news {
    flex-direction: column;
  }
  .p_news__info {
    width: auto;
    padding-bottom: 20px;
  }
  .p_news__ttl {
    text-align: center;
    span {
      margin-bottom: 10px; 
    }
  }
  .p_news__list {
    width: auto;
    font-size: $fs-area-s;
    ul li {
      padding: 10px 0;
      padding-right: 50px;
      &:after {
        width: 25px;
        right: 15px;
      }
      &:hover:after {
        right: 10px;
      }
    }
    .c_btn {
      width: auto;
      padding-right: 50px;
      &:after {
        right: 15px;
      }
    }
  }
  .p_news__social {
    position: static;
    width: auto;
    justify-content: center;
    align-items: center;
  }
  .p_news__date {
    width: auto;
    display: block;
    margin-bottom: 5px;
  }
}