/*----------------------------------------------
	.p_treatment
---------------------------------------------*/

.p_treatment__head {
  text-align: center;
  .c_ttl {
    text-align: center;
  }
}
.p_treatment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {    
    width: calc(50% - 15px);
    &:nth-child(2n) {
      position: relative;
      top: 50px;
    }
  }
  &__inner {
    @include color-gradient-primary(0, 1, 1);
    margin-top: 80px;
    position: relative;
    padding: 60px 20px 30px;
    .p_treatment__num {
      position: absolute;
      left: 20px;
      top: -50px;
      font-size: 100px;
      color: #C6E7F5;
      line-height: 0.8;
    }
  }
  &__content {
    h3 {
      font-size: $fs-point-l-mobile;
      line-height: 1.5;
      font-weight: $fw-serif-medium;
      margin-bottom: 20px;
      letter-spacing: $space-xxxs;
    }
  }
}
.p_treatment__bottom {
  text-align: center;
  margin-top: 100px;
  font-size: $fs-point-l-mobile;
  font-weight: $fw-serif-medium;
  letter-spacing: $space-xxxs;
}

@media screen and (max-width: $sm) {
  .p_treatment__head {
    text-align: left;
    .c_ttl {
      text-align: left;
    }
  }
  .p_treatment {
    display: block;
    &__item {    
      width: 100%;
      &:nth-child(2n) {
        top: 0;
      }
    }
    &__inner {
      margin-top: 40px;
      padding: 40px 20px 20px;
      .p_treatment__num {
        left: 20px;
        top: -35px;
        font-size: 60px;
        line-height: 1;
      }
    }
    &__content {
      h3 {
        font-size: $fs-point-s-desktop;
        margin-bottom:10px;
      }
    }
  }
  .p_treatment__bottom {
    margin-top: 30px;
    font-size: $fs-point-s-desktop;
    p {
      margin-bottom: 20px;
    }
    .c_btn {
      font-size: $fs-area-base;
    }
    .c_btn.is_custom > img {
      right: 5px;
    }
  }
}